<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Restful Products - Product Page  </title>
  <meta name="description" content="Products App">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <style>
    .label {
      margin-top: -8px;
    }
    .bodycontainer {
      max-height: 400px;
      width: 100%;
      margin: 0;
      overflow-y: auto;
    }
    .table-scrollable {
      margin: 0;
      padding: 0;
    }
    .action{
      padding-right:5px;
    }
    .bare {
      border: 0;
      background:none;
      color:blue
    }
    .action {
      display:inline;
    }

  </style>


</head>
<body>

  <!-- product page heading -->
  <div class="jumbotron">
   <div class="container">
      <p>Product page </p>
   </div>
  </div><!-- End product heading -->

  <div class="container">
    <div class="row">
      <div class="well col-sm-10 col-sm-offset-1 well-margin" style="margin-top: 10px">

          <!-- product table -->
          <div class="table-responsive">
              <table class="table table-striped table-hover table-condensed">
                  <thead>
                      <tr>
                          <th width="25%">Name </th>
                          <th width="35%">Description</th>
                          <th width="10%">Price</th>
                          <th width="25%">Actions</th>
                      </tr>
                  </thead>
              </table>

              <div class="bodycontainer scrollable">
                <table id="product" class="table table-bordered table-hover table-striped table-condensed table-scrollable">

                  <tbody>
                    {% for product in products %}
                        <tr>
                          <td width="25%">{{ product['name'] }}</td>
                          <td width="35%">{{ product['description'] }}</td>
                          <td width="10%">$ {{ product['price'] }}</td>
                          <td  width="25%"class="text-center">
                              <form action="/products/doAction/{{ product['id'] }}" method="post">
                                    <u><input type="submit" class="bare center-block action" name="action" value="Show"></u>
                                    <u><input type="submit" class="bare center-block action" name="action" value="Edit"></u>
                                    <u><input type="submit" class="bare center-block action" name="action" value="Remove"></u>
                              </form>
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>

                </table>
              </div>
          </div> <!-- End product -->

          <div class="row">
            <div class="col-sm-10">
                <a href="/products/new"><strong><u>Add a new product</u></strong></a>
             </div>
          </div>

      </div> <!-- End well -->
    </div> <!-- End class row -->
  </div> <!-- End container -->

  <!--
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>